<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Security customized example</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#">Security Customize</a> </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/my">My Account</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron">
    <h1>Security customize</h1>
    <p>Once you are familiar with setting up and running some
      namespace-configuration based applications, you may wish to develop
      more of an understanding of how the framework actually works behind
      the namespace facade.</p>
    <p> <a class="btn btn-lg btn-primary" href="https://docs.spring.io/spring-security/site/docs/4.2.3.RELEASE/reference/htmlsingle" target="_blank" role="button">View docs &raquo;</a> </p>
  </div>
</div>
</body>
</html>